<ul>
{{#each ics }}
<li><img src= "{{image}}"/></li>
  <li>Name: {{name}}</li>
  <li>MRSP: {{msrp}}</li>
  <li>HorsePower: {{engine}}</li>
  <li>0-100KM/H: {{speed}}</li>
  <li>Transmission: {{transmission}}</li>
{{/each}}
</ul>